.gist .gist-file.scroll .gist-data {
    position:absolute;
    top:0;
    right:0;
    bottom:30px;
    left:0;
    overflow:scroll;
}
 
.gist .gist-file.scroll .gist-meta {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}
